[Unit]
Description=Check requested Mihomo trial every 30 seconds

[Timer]
OnActiveSec=30
OnUnitActiveSec=30
AccuracySec=2

[Install]
WantedBy=timers.target
